*.d
*.dbo
*.o
*.lst
*.dep
*.dnm
*.elf
*.map
*.run
*.mot
*.dla
.vscode
*.bak
*.dle
*build.log
*.x
*.out
*.bin
#RRPG
APL.txt
Reprog_SBL.txt
!empty_G4.o
*.crc
log/
obj/
Reprog_CAPL.cbf
Reprog_CANFD.stcfg
tags
!Can.lib
!CodeFls.lib
!Ecc.lib
!Gpt.lib
!Int.lib
!Mcu.lib
!Crypto_83_sw_AES128.a
!Crypto_83_sw_RSA.a
!Crypto_83_sw_SHA256.a
