/*
    Copyright (C) 2019 eSOL Co., Ltd. All rights reserved.

    This software is protected by the law and the agreement concerning
    a Japanese country copyright method, an international agreement,
    and other intellectual property right and may be used and copied
    only in accordance with the terms of such license and with the inclusion
    of the above copyright notice.

    This software or any other copies thereof may not be provided
    or otherwise made available to any other person.  No title to
    and ownership of the software is hereby transferred.

    The information in this software is subject to change without
    notice and should not be construed as a commitment by eSOL Co.,Ltd.
*/

/****************************************************************************
[mcos_hwcl.cfg] - MCOS HW cluster ID definitions
****************************************************************************/
#ifndef MCOS_HWCL_ID_H
#define MCOS_HWCL_ID_H

/* hardware cluster ID */
#define MCOS_CFG_HWCL_ID                        1

/* Max system parameter definitions */
/* max hardware cluster count */
#define MCOS_CFG_GLB_HWCL_MAX                   1

/* max cores per cluster */
#define MCOS_CFG_GLB_CORE_PER_HWCL_MAX          6

/* max threads per core */
#define MCOS_CFG_GLB_THR_PER_CORE_MAX           16

#endif /* #ifndef MCOS_HWCL_ID_H */
