/*
    Copyright (C) 2019 eSOL Co., Ltd. All rights reserved.

    This software is protected by the law and the agreement concerning
    a Japanese country copyright method, an international agreement,
    and other intellectual property right and may be used and copied
    only in accordance with the terms of such license and with the inclusion
    of the above copyright notice.

    This software or any other copies thereof may not be provided
    or otherwise made available to any other person.  No title to
    and ownership of the software is hereby transferred.

    The information in this software is subject to change without
    notice and should not be construed as a commitment by eSOL Co.,Ltd.
*/

/****************************************************************************
[mcos_syssrv.cfg] - MCOS server configuration file
****************************************************************************/
#ifndef MCOS_SYSSRV_CFG_H
#define MCOS_SYSSRV_CFG_H

#include <mcos/mcos.h>
#include <mcos/mcos.cfg>
#include <mp.cfg>

/*
 * definitions for system time server and cyclic services
 *
 *  - The relative thread priorities must be as follows.
 *     1: Thread scheduler          (highest)
 *     2: System time server
 *     3: Cyclic service threads
 *     4: Driver servers
 *     5: middleware servers
 *     6: the others                (lowest)
 *  - Since core ID is depend on hardware, this should be fixed.
 *    System time server uses core 5 to use TMU1
 *    and to avoid that the server runs on the same core as TS.
 */

/* thread scheduler core id */
#define MCOS_CFG_TSSRV_LCID                 MCOS_RCIDX2LCID(0)

/* thread scheduler thread priority */
#define MCOS_CFG_TSSRV_THRPRI               1

/* thread scheduler stack size (byte) */
#define MCOS_CFG_TSSRV_STACKSIZE            MCOS_CFG_THR_DEFAULT_STACKSIZE

/* heap manager thread thread priority */
#define MCOS_CFG_HEAPSRV_THRPRI             2

/* Heap management thread stack size (byte) */
#define MCOS_CFG_HEAPSRV_STACKSIZE          MCOS_CFG_THR_DEFAULT_STACKSIZE

/* system time server core id */
#define MCOS_CFG_TIMESRV_LCID               MCOS_RCIDX2LCID(0)

/* system time server priority */
#define MCOS_CFG_TIMESRV_THRPRI             2

/* System timer server thread stack size (byte) */
#define MCOS_CFG_TIMESRV_STACKSIZE          MCOS_CFG_THR_DEFAULT_STACKSIZE

/* LFS server lcid */
/* NOTE: do NOT use same LCID with timer server*/
#define MCOS_CFG_LFSSRV_LCID                MCOS_RCIDX2LCID(3)

/* LFS thread priority */
#define MCOS_CFG_LFSSRV_THRPRI              14

/* LFS thread stack size (byte) */
#define MCOS_CFG_LFSSRV_STACKSIZE           4096

/* Number of receive buffers for request from remote HWCL */
#define MCOS_CFG_LFSSRV_HWCL_RECV_COUNT     4

/* initial thread priority */
#define MCOS_CFG_INIT_THREAD_THRPRI         6

/* Name Server(s) priority */
#define MCOS_CFG_NAMESRV_THRPRI              4

/* Name Server(s) stack size (byte) */
#define MCOS_CFG_NAMESRV_STACKSIZE           MCOS_CFG_THR_DEFAULT_STACKSIZE

/* Use CLMM to communicate between HWCL
 * 0: No, 1: Yes
 */
#define MCOS_CFG_GLB_CLMM_ENABLE            0

/* Cluster Message Manager core id */
#define MCOS_CFG_CLMMSRV_LCID               MCOS_RCIDX2LCID(1)

/* Cluster Message Manager thread priority */
#define MCOS_CFG_CLMMSRV_THRPRI             9

/* Cluster Message Manager thread stack size (byte) */
#define MCOS_CFG_CLMMSRV_STACKSIZE          MCOS_CFG_THR_DEFAULT_STACKSIZE

/* HWCLID for Master Time Server */
/* DO NOT USE () because it uses for stringizer operator */
#define MCOS_CFG_GLB_TIMESRV_MASTER_HWCL_ID     1

/* TK FLG server core id */
#define MCOS_CFG_TKSRV_FLG_LCID             MCOS_RCIDX2LCID(1)

/* TK FLG server priority */
#define MCOS_CFG_TKSRV_FLG_THRPRI           110

/* TK MBF server core id */
#define MCOS_CFG_TKSRV_MBF_LCID             MCOS_RCIDX2LCID(1)

/* TK MBF server priority */
#define MCOS_CFG_TKSRV_MBF_THRPRI           110

/* TK MBX server core id */
#define MCOS_CFG_TKSRV_MBX_LCID             MCOS_RCIDX2LCID(1)

/* TK MBX server priority */
#define MCOS_CFG_TKSRV_MBX_THRPRI           110

/* TK MPF server core id */
#define MCOS_CFG_TKSRV_MPF_LCID             MCOS_RCIDX2LCID(1)

/* TK MPF server priority */
#define MCOS_CFG_TKSRV_MPF_THRPRI           110

/* TK MPL server core id */
#define MCOS_CFG_TKSRV_MPL_LCID             MCOS_RCIDX2LCID(1)

/* TK MPL server priority */
#define MCOS_CFG_TKSRV_MPL_THRPRI           110

/* TK MTX server core id */
#define MCOS_CFG_TKSRV_MTX_LCID             MCOS_RCIDX2LCID(1)

/* TK MTX server priority */
#define MCOS_CFG_TKSRV_MTX_THRPRI           110

/* TK SEM server core id */
#define MCOS_CFG_TKSRV_SEM_LCID             MCOS_RCIDX2LCID(1)

/* TK SEM server priority */
#define MCOS_CFG_TKSRV_SEM_THRPRI           110

/* all TK servers stack size (byte) */
#define MCOS_CFG_TKSRV_STACKSIZE            0x2000

/* PT BARRIER server core id */
#define MCOS_CFG_PTSRV_BARRIER_LCID         MCOS_RCIDX2LCID(1)

/* PT BARRIER server priority */
#define MCOS_CFG_PTSRV_BARRIER_THRPRI       110

/* PT COND server core id */
#define MCOS_CFG_PTSRV_COND_LCID            MCOS_RCIDX2LCID(1)

/* PT COND server priority */
#define MCOS_CFG_PTSRV_COND_THRPRI          110

/* PT MUTEX server core id */
#define MCOS_CFG_PTSRV_MUTEX_LCID           MCOS_RCIDX2LCID(1)

/* PT MUTEX server priority */
#define MCOS_CFG_PTSRV_MUTEX_THRPRI         110

/* PT ONCE server core id */
#define MCOS_CFG_PTSRV_ONCE_LCID            MCOS_RCIDX2LCID(1)

/* PT ONCE server priority */
#define MCOS_CFG_PTSRV_ONCE_THRPRI          110

/* PT RWLOCK server core id */
#define MCOS_CFG_PTSRV_RWLOCK_LCID          MCOS_RCIDX2LCID(1)

/* PT RWLOCK server priority */
#define MCOS_CFG_PTSRV_RWLOCK_THRPRI        110

/* PT THREAD server core id */
#define MCOS_CFG_PTSRV_THREAD_LCID          MCOS_RCIDX2LCID(1)

/* PT THREAD server priority */
#define MCOS_CFG_PTSRV_THREAD_THRPRI        110

/* PT SEM server core id */
#define MCOS_CFG_PTSRV_SEM_LCID             MCOS_RCIDX2LCID(7)

/* PT SEM server priority */
#define MCOS_CFG_PTSRV_SEM_THRPRI           110

/* PT TIMER server core id */
#define MCOS_CFG_PTSRV_TIMER_LCID           MCOS_RCIDX2LCID(8)

/* PT TIMER server priority */
#define MCOS_CFG_PTSRV_TIMER_THRPRI         110

/* all PT servers stack size (byte) */
#define MCOS_CFG_PTSRV_STACKSIZE            0x00002000

/* POSIX AIO server core id */
#define MCOS_CFG_AIOSRV_LCID                MCOS_LCID_ANY

/* POSIX AIO server priority */
#define MCOS_CFG_AIOSRV_THRPRI              20

/* POSIX AIO server stack size (byte) */
#define MCOS_CFG_AIOSRV_STACKSIZE           MCOS_CFG_THR_DEFAULT_STACKSIZE

#endif /* #ifndef MCOS_SYSSRV_CFG_H */
