/*
    Copyright (C) 2017 By eSOL Co.,Ltd. Tokyo, Japan

    This software is protected by the law and the agreement concerning
    a Japanese country copyright method, an international agreement,
    and other intellectual property right and may be used and copied
    only in accordance with the terms of such license and with the inclusion
    of the above copyright notice.

    This software or any other copies thereof may not be provided
    or otherwise made available to any other person.  No title to
    and ownership of the software is hereby transferred.

    The information in this software is subject to change without
    notice and should not be construed as a commitment by eSOL Co.,Ltd.
*/

/****************************************************************************
[system.cfg] - eMCOS System-Configuration file
****************************************************************************/
#ifndef _MCOS_SYSTEM_CFG_
#define _MCOS_SYSTEM_CFG_

#include <parts.cfg>

#if (USE_EBINDER != 0)

/*
 * This file is a configuration file to build without eSOL make framework,
 * that replaces the definitions in the makefile such as patrs/config/config.mk
 * and patrs/config/mcos/mcos.mk.
 */

#include <mw.cfg>

/*******************************************************
 * NOTE:
 * Do not edit the following configurations manually.
 ******************************************************/

/*
 * Use TK API or not
 * (USER_TK_API::config.mk)
 */
#ifdef __MW_EMCOS_TK_EXTENSION__
#define MCOS_USE_TKAPI          1
#else  /* #ifdef __MW_EMCOS_TK_EXTENSION__ */
#undef MCOS_USE_TKAPI
#endif /* #ifdef __MW_EMCOS_TK_EXTENSION__ */

/*
 * Use PT API or not
 * (USER_PT_API::config.mk)
 */
#ifdef __MW_EMCOS_POSIX_EXTENSION__
#define MCOS_USE_PTAPI          1
#else  /* #ifdef __MW_EMCOS_POSIX_EXTENSION__ */
#undef MCOS_USE_PTAPI
#endif /* #ifdef __MW_EMCOS_POSIX_EXTENSION__ */

/*
 * Use AR API or not
 * (USER_AR_API::config.mk)
 */
#undef MCOS_AUTOSAR /* Always not defined */

/*
 * Use PT API with/witiout the Process Model
 * (USER_PROCESS_MODEL::config.mk)
 */
#ifdef __MW_EMCOS_POSIX_PROCESS_EXTENSION__
#define MCOS_USE_PROCESS_MODEL  1
#else  /* #ifdef __MW_EMCOS_POSIX_PROCESS_EXTENSION__ */
#define MCOS_USE_PROCESS_MODEL  0
#endif /* #ifdef __MW_EMCOS_POSIX_PROCESS_EXTENSION__ */

/*
 * Use Message Profiler or not
 * (USER_MSGPROF::config.mk)
 */
#ifdef __MW_EMCOS_MESSAGE_PROFILER__
#define MCOS_USE_MSGPROF        1
#else  /* #ifdef __MW_EMCOS_MESSAGE_PROFILER__ */
#undef MCOS_USE_MSGPROF
#endif /* #ifdef __MW_EMCOS_MESSAGE_PROFILER__ */

    #if 0   /* These are under consideration. */
/*
 * Use Realtime Profiler or not
 * (USER_RTPROF::config.mk)
 */
#ifdef __MW_EMCOS_REALTIME_PROFILER__
#define MCOS_USE_RTPROF         1
#else  /* #ifdef __MW_EMCOS_REALTIME_PROFILER__ */
#undef MCOS_USE_RTPROF
#endif /* #ifdef __MW_EMCOS_REALTIME_PROFILER__ */

/*
 * Use Monitor or not
 * (USER_MONITOR::config.mk)
 */
#ifdef __MW_EMCOS_MONITOR__
#define USE_MONITOR             1
#else  /* #ifdef __MW_EMCOS_MONITOR__ */
#undef USE_MONITOR
#endif /* #ifdef __MW_EMCOS_MONITOR__ */
    #endif

/*
 * OS has a level-control of the interrupts or not
 * Enable this configuration for eMCOS AUTOSAR.
 */
#if ((defined MCOS_AUTOSAR) && (MCOS_AUTOSAR == 1))
#define BIOS_CPU_LOCK_BY_LEVEL_CONTROL  1
#else  /* #ifdef MCOS_AUTOSAR */
#define BIOS_CPU_LOCK_BY_LEVEL_CONTROL  0
#endif /* #ifdef MCOS_AUTOSAR */

/*
 * Use eBinder
 * (USER_EBINDER::config.mk)
 */
#define MCOS_USE_EBINDER        1

#else /* #if (USE_EBINDER != 0) */

/*
 * Not use eBinder
 * (USER_EBINDER::config.mk)
 */
#define MCOS_USE_EBINDER        0

#endif /* #if (USE_EBINDER != 0) */

#endif /* #ifndef _MCOS_SYSTEM_CFG_ */
