/*
    Copyright (C) 2013 By eSOL Co.,Ltd. Tokyo, Japan

    This software is protected by the law and the agreement concerning
    a Japanese country copyright method, an international agreement,
    and other intellectual property right and may be used and copied
    only in accordance with the terms of such license and with the inclusion
    of the above copyright notice.

    This software or any other copies thereof may not be provided
    or otherwise made available to any other person.  No title to
    and ownership of the software is hereby transferred.

    The information in this software is subject to change without
    notice and should not be construed as a commitment by eSOL Co.,Ltd.
*/

/****************************************************************************
[parts.cfg] ver1.0 rev3 - common configuration of parts
****************************************************************************/
#ifndef PARTS_CFG
#define PARTS_CFG

#ifndef USE_EBINDER
#define USE_EBINDER 0
#endif /* #ifndef USE_EBINDER */

#if defined __GNUC__ && !defined __ARMCC_VERSION
/* GCC */
#if defined __sh__
/* GCC SH */
#if !defined __LITTLE_ENDIAN__ && !defined __LITTLE_ENDIAN
#define ESOL_BIG_ENDIAN
#endif /* #if !defined __LITTLE_ENDIAN__ && !defined __LITTLE_ENDIAN */
#elif defined __mips__
/* GCC MIPS */
#if defined __MIPSEB__
#define ESOL_BIG_ENDIAN
#endif /* #if defined __MIPSEB__ */
#elif defined __PPC__ /* #elif defined __mips__ */
/* GCC PowerPC */
#if defined __BIG_ENDIAN__
#define ESOL_BIG_ENDIAN
#endif /* #if defined __BIG_ENDIAN__ */
#elif defined __V850__    /*elif defined __PPC__ */
/* It seems that there is no pre-define macro for big endian. */
/*#define ESOL_BIG_ENDIAN*/
#elif defined __tilegx__ /* #elif defined __V850__ */
/* tile C/C++ compiler */
#if defined __BIG_ENDIAN__
#define ESOL_BIG_ENDIAN
#endif /* #if defined __BIG_ENDIAN__ */
#endif /* #elif defined __tilegx__ */
#elif defined __ARMCC_VERSION /* #if defined __GNUC__ && !defined __ARMCC_VERSION */
/* ARM Compiler */
#if defined __BIG_ENDIAN__
#define ESOL_BIG_ENDIAN
#endif /* #if defined __BIG_ENDIAN__ */
#elif defined __HITACHI__ /* #elif defined __ARMCC_VERSION */
/* RENESAS C/C++ compiler (SHC) */
#if defined _BIG
#define ESOL_BIG_ENDIAN
#endif /* #if defined _BIG */
#elif defined __TMS470__ /* #elif defined __HITACHI__ */
/* TMS470 C/C++ compiler (CCS) */
#if defined __big_endian__
#define ESOL_BIG_ENDIAN
#endif /* #if defined __big_endian__ */
#elif defined __ghs__ /* #elif defined __TMS470__ */
/* Green Hills C/C++ compiler */
#if defined __BIG_ENDIAN__
#define ESOL_BIG_ENDIAN
#endif /* #if defined __BIG_ENDIAN__ */
#elif defined _WIN32 /* #elif defined __ghs__ */
/* This section is eSOL internal use only, NOT supported. */
#else /* #elif defined _WIN32 */
/* the other compiler */
#error configure the endian macro manually.
/*
#define ESOL_BIG_ENDIAN
*/
#endif /* #else */

#endif /* #ifndef PARTS_CFG */
