/*
    Copyright (C) 2019 eSOL Co., Ltd. All rights reserved.

    This software is protected by the law and the agreement concerning
    a Japanese country copyright method, an international agreement,
    and other intellectual property right and may be used and copied
    only in accordance with the terms of such license and with the inclusion
    of the above copyright notice.

    This software or any other copies thereof may not be provided
    or otherwise made available to any other person.  No title to
    and ownership of the software is hereby transferred.

    The information in this software is subject to change without
    notice and should not be construed as a commitment by eSOL Co.,Ltd.
*/

/****************************************************************************
[mcos.cfg] - MCOS configuration file
****************************************************************************/
#ifndef MCOS_CFG_H
#define MCOS_CFG_H

/* max thread count per core */
#define MCOS_CFG_THR_MAX                    16

/* mcos_message_send() max size (byte, must be multiple of the word size) */
#define MCOS_CFG_MSG_SIZE_MAX               48

/* max cyclic service count per core (0 - 32)*/
#define MCOS_CFG_CSR_MAX                    8

/* default thread priority (17 - 254) */
#define MCOS_CFG_THR_DEFAULT_PRI            128

/* auto assigned thread stack size (byte) */
#define MCOS_CFG_THR_DEFAULT_STACKSIZE      2048

/* system stack size per core (byte) */
#define MCOS_CFG_SYS_STACKSIZE              128

/* message ring buffer size per core (byte, must be multiple of the word size) */
#define MCOS_CFG_MSG_BUFSIZE                2048

/* fmessage buffer size per core (byte, must be multiple of the word size) */
#define MCOS_CFG_FMSG_BUFSIZE               256

/* max pending message count per core */
#define MCOS_CFG_MSG_PENDING_COUNT_MAX      128

/* max parallel message cache miss count per core */
#define MCOS_CFG_MSG_RESOLVE_COUNT_MAX      8

/* max session counts per thread */
#define MCOS_CFG_SMSG_SESSION_COUNT_MAX     0

/* max DSM count per cluster */
#define MCOS_CFG_DSM_MAX                    1

/* max attach counts of DSM section per DSM */
#define MCOS_CFG_DSM_ATTACH_MAX             4

/* load balancing sampling cycle (milli-seconds) */
#define MCOS_CFG_TS_LOAD_BALANCING_CYCLE    0

/* max threadpool object count per core */
#define MCOS_CFG_TPOOL_MAX                  1

/* request execution thread stack size (byte), 0 means default thread stack size */
#define MCOS_CFG_TPOOL_STACKSIZE            0

/* time tick period (milli-seconds) */
#define MCOS_CFG_TIME_TICK                  10

/* request buffer size for mcos_rrmessage_send() (byte, must be multiple of the word size) */
#define MCOS_CFG_RRMSG_BUFSIZE              32

/* heap minimum block size (byte) */
#define MCOS_CFG_HEAP_BLOCKSIZE             0x1000

/* memory size allocated from the memory server which the microkernel keeps (byte) */
#define MCOS_CFG_HEAP_SPOOLSIZE_MIN         0x10000

/* maximum memory size which microkernel can allocate from the heap server (byte) */
#define MCOS_CFG_HEAP_SPOOLSIZE_MAX         0x20000

/* number of scheduling cluster */
#define MCOS_CFG_SCCL_NUM                   1

/* max system message count per core */
#define MCOS_CFG_SYSTEM_MSG_COUNT_MAX       0

/*
 * Set up scheduling cluster mapping.
 * Give scheduling cluster ID to each core.
 * If MCOS_CFG_SCCL_NUM is 1, MCOS_CFG_SCCL_ASSIGN is ignored.
 * ex. 8 cores
 *      MCOS_CFG_SCCL_ASSIGN   1, 1, 2, 2, 2, 3, 2, 4
 *          scheduling cluster 1 = core 1, 2
 *          scheduling cluster 2 = core 3, 4, 5, 7
 *          scheduling cluster 3 = core 6
 *          scheduling cluster 4 = core 8
 */
#define MCOS_CFG_SCCL_ASSIGN

/*
 * Set each scheduling cluster's initial thread entry function.
 * Note: Scheduling cluster's ID is same as MCOS_CFG_SCCL_ASSIGN.
 * ex. 2 scheduling clusters
 *      MCOS_CFG_INIT_THREAD_ENTRY   foo, bar
 *          scheduling cluster 1 entry = foo
 *          scheduling cluster 2 entry = bar
 */
#define MCOS_CFG_INIT_THREAD_ENTRY          create_init_threads

#ifndef _in_asm_source_
/*
 * Please add prototype declarations of MCOS_CFG_INIT_THREAD_ENTRY entries.
 */
void create_init_threads(void);
#endif

/*
 *  Select checking error or not
 *
 *  0 : do nothing
 *  1 : check error (default)
 */
#define MCOS_CFG_PARAM_CHECK                1

/* max thread activate count (total per core) */
#define MCOS_CFG_THR_ACT_MAX                32

/* max used stack size of system call in the eMCOS AUTOSAR SC3 (bytes) */
#define MCOS_CFG_AR_SYSCALL_STACKSIZE       80

/* max used stack size of hook in the eMCOS AUTOSAR (bytes) */
#define MCOS_CFG_AR_HOOK_STACKSIZE          0

/* default ICC driver index */
#define MCOS_CFG_CLMM_DEFAULT_ICC_INDEX    0

/* ICC driver count in ICC driver table */
#define MCOS_CFG_CLMM_ICC_DRIVER_COUNT     1

/* CLMM rouitng information count in routing table */
#define MCOS_CFG_CLMM_ROUTING_INFO_COUNT   0

/*
 * test mode flag (for test)
 */
/* enable test mode code for measuring boot time */
#define MCOS_TEST_ENABLE_BOOTTIME           0

/* enable test mode code for fatal error */
#define MCOS_TEST_ENABLE_FATALBREAK         0

/* enable test mode code for migration */
#define MCOS_TEST_ENABLE_CTRL_MIGRATION     0

/* enable test mode code for measuring system time server */
#define MCOS_TEST_ENABLE_CTRL_SYSTIME       0

/* enable test mode code for non-auto migration mode */
#define MCOS_TEST_ENABLE_STOP_MIGRATION     0

/* enable test mode code for load balancing sampling */
#define MCOS_TEST_ENABLE_CTRL_SAMPLING      0

/* enable test mode code for supress fatal system down */
#define MCOS_TEST_ENABLE_SUPRESS_FATAL      0

/* enable test mode code for waitcause */
#define MCOS_TEST_ENABLE_CHECK_WAITCAUSE    0

/* enable test mode code for wakeup idle loop in hardware layer */
#define MCOS_TEST_ENABLE_HWL_WAKEUP         0

/* enable test mode code for measuring Fast Message receive waiting time */
#define MCOS_TEST_ENABLE_FMSG_RECV_TIME     0

/* Select whether count up the timer interrupt occuring. */
#define MCOS_TEST_ENABLE_COUNTUP_TIMER_INTERRUPT    0

/* enable ns test code */
#define MCOS_TEST_ENABLE_NS                 0

#endif /* #ifndef MCOS_CFG_H */
