/*
    Copyright (C) 2019 eSOL Co., Ltd. All rights reserved.

    This software is protected by the law and the agreement concerning
    a Japanese country copyright method, an international agreement,
    and other intellectual property right and may be used and copied
    only in accordance with the terms of such license and with the inclusion
    of the above copyright notice.

    This software or any other copies thereof may not be provided
    or otherwise made available to any other person.  No title to
    and ownership of the software is hereby transferred.

    The information in this software is subject to change without
    notice and should not be construed as a commitment by eSOL Co.,Ltd.
*/

/****************************************************************************
[mcos_ds.cfg] - MCOS Debug Support API configuration file
****************************************************************************/
#ifndef MCOS_DS_CFG_H
#define MCOS_DS_CFG_H

/* ds function enable/disable flags */

/*
 * 0: Disable mcos_debug_printf
 * 1: Enable mcos_debug_printf (default)
 */
#define MCOS_CFG_DS_PRINT_ENABLE            0

/*
 * 0: Disable system logging
 * 1: Enable system logging (default)
 * Note: To enable, it needs MCOS_CFG_DS_PRINT_ENABLE=1
 */
#define MCOS_CFG_DS_SYSLOG_ENABLE           0

/*
 * 0: Do not use trace feature
 * 1: Use trace feature (default)
 */
#define MCOS_CFG_DS_TRACE_ENABLE            0

/*
 * 0: Do not use internal trace routines
 * 1: Use internal trace routines provided by eMCOS itself (default)
 */
#define MCOS_CFG_DS_INTERNAL_TRACE_ENABLE   1

/*
 * 0: Do nothing (default)
 * 1: Outputs kernel used memory area information
 */
#define MCOS_CFG_DS_USED_MEMORY_ENABLE      0

/*
 * 0: Disable mcos_debug_time_get
 * 1: Enable mcos_debug_time_get (default)
 */
#define MCOS_CFG_DS_TIME_ENABLE             0

/*
 * 0: Disable mcos_debug_workload_start() and mcos_debug_workload_end()
 * 1: Enable mcos_debug_workload_start() and mcos_debug_workload_end() (default)
 * Note: Setting 1 has overhead.
 * Note: To enable, it needs MCOS_CFG_DS_TIME_ENABLE=1
 */
#define MCOS_CFG_DS_LOADPERF_ENABLE         0


/* ds function option flags */

/* buffer size for mcos_debug_printf (byte) */
#define MCOS_CFG_DS_PRINT_BUFSIZE           128


/*
 * port number for outputting ds print.
 * It is 1 by default.
 */
#define MCOS_CFG_DS_PRINT_PORT              0

/*
 * 0: No logging messages.
 * 1: Outputs fatal error and MCOS API error return. (default)
 * 2: Outputs MCOS API calling.
 * 3: Outputs log messages for kernel debug.
 * 4: Outputs log messages for kernel hadware layer debug.
 */
#define MCOS_CFG_DS_SYSLOG_LEVEL            0

/*
 * 0: Buffer a part of trace data
 * 1: Buffer all the trace data (default)
 */
#define MCOS_CFG_DS_TRACE_LEVEL             1

/* Default count of trace data to be buffered */
#define MCOS_CFG_DS_TRACE_COUNT_DEFAULT     256

/*
 * Special count of trace data to be buffered
 * format: {lcid0, count0, lcid1, count1,,,, -1}
 *  must terminated by "-1".
 */
#define MCOS_CFG_DS_TRACE_COUNT_SPECIAL     { -1 }

/*
 * 0: Do not trace the event
 * 1: Trace the event (default)
 */
#define MCOS_CFG_DS_TRACE_LOG_API           1
#define MCOS_CFG_DS_TRACE_LOG_INT           1
#define MCOS_CFG_DS_TRACE_LOG_EXC           1
#define MCOS_CFG_DS_TRACE_LOG_THR           0
#define MCOS_CFG_DS_TRACE_LOG_THRSWT        0
#define MCOS_CFG_DS_TRACE_LOG_THRMGR        0

/*
 * 0: Allocate trace buffer from other than core local memory
 * 1: Allocate trace buffer from core local memory (default)
 */
#define MCOS_CFG_DS_TRACE_BUFFER_USE_CORELM 1

/*
 * Select performance measurement mode (mcos_debug_prfm_...())
 *  MCOS_TEST_DS_PRFM_MODE_NONE: No performance measurement (default)
 *  MCOS_TEST_DS_PRFM_MODE_STANDARD: Standard mode (mcos_debug_prfm_hook() is disabled.)
 *  MCOS_TEST_DS_PRFM_MODE_DETAILED: Detailed mode (mcos_debug_prfm_hook() is enabled.)
 */
#define MCOS_TEST_DS_PRFM                    MCOS_TEST_DS_PRFM_MODE_NONE

/*
 * user hook
 * 0: Do not use user hook
 * 1: Use user hook (default)
 */
#define MCOS_CFG_DS_USERHOOK                 1

/* user specified syslog type */
#define MCOS_CFG_DS_SYSLOG_TYPE_ERROR       0
#define MCOS_CFG_DS_SYSLOG_TYPE_API         0
#define MCOS_CFG_DS_SYSLOG_TYPE_THREAD      0
#define MCOS_CFG_DS_SYSLOG_TYPE_SERVER      0
#define MCOS_CFG_DS_SYSLOG_TYPE_MSG         0

#define MCOS_CFG_DS_SYSLOG_TYPE_BOOT        0
#define MCOS_CFG_DS_SYSLOG_TYPE_HWL         0
#define MCOS_CFG_DS_SYSLOG_TYPE_MKMSG       0
#define MCOS_CFG_DS_SYSLOG_TYPE_THREAD_QUEUE    0

/*
 * DO NOT EDIT
 *  This configuration item has no effect without eBinder.
 */
#define MCOS_CFG_DS_MSGPROF_ENABLE           0

#endif /* #ifndef MCOS_DS_CFG_H */
